absl-py==2.3.0
astunparse==1.6.3
blinker @ file:///croot/blinker_1737448726027/work
certifi @ file:///croot/certifi_1745939216646/work/certifi
charset-normalizer==3.4.2
click @ file:///croot/click_1744271578095/work
Flask @ file:///croot/flask_1737454299809/work
flask-cors==6.0.0
Flask-SQLAlchemy==3.1.1
flask-swagger-ui==5.21.0
flatbuffers @ file:///croot/python-flatbuffers_1722369094438/work
gast @ file:///Users/ktietz/demo/mc3/conda-bld/gast_1628588903283/work
google-pasta @ file:///Users/ktietz/demo/mc3/conda-bld/google-pasta_1630577991354/work
greenlet==3.2.2
grpcio==1.73.0
h5py==3.14.0
idna==3.10
itsdangerous @ file:///croot/itsdangerous_1716533337253/work
Jinja2 @ file:///croot/jinja2_1741710844255/work
joblib==1.5.1
keras==3.10.0
libclang==18.1.1
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
mdurl==0.1.2
ml_dtypes==0.5.1
namex==0.1.0
numpy==2.3.0
opt_einsum==3.4.0
optree==0.16.0
packaging @ file:///croot/packaging_1734472117206/work
pandas==2.3.0
pandas_ta==0.3.14b0
protobuf==5.29.5
Pygments==2.19.1
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
requests==2.32.4
rich==14.0.0
six @ file:///croot/six_1744271502820/work
SQLAlchemy==2.0.41
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor @ file:///work/ci_py311/termcolor_1676838860478/work
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
tzdata==2025.2
urllib3==2.4.0
Werkzeug @ file:///croot/werkzeug_1737448706492/work
wrapt @ file:///croot/wrapt_1736540904746/work
